{% extends "user/setting_layout.html.twig" %}

{% block panel %}
    <h1>Sessions</h1>
    <hr>
    This is a list of devices that have logged into your account. Revoke any sessions that you do not recognize.
    <br>
    <br>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <td class="text-center">Login At</td>
            <td class="text-center">Login IP</td>
            <td class="text-center">Platform</td>
            <td class="text-center">Browser</td>
            <td class="text-center">Last access at</td>
            <td class="text-center">Action</td>
        </tr>
        </thead>
        <tbody>
        {% for s in sessions %}
            <tr>
                <td class="text-center">{{ s['login_at'] | date("Y-m-d H:i:s") }}</td>
                <td class="text-center">{{ s['login_ip'] }}</td>
                <td class="text-center">{{ s['platform'] }}</td>
                <td class="text-center">{{ s['browser'] }}</td>
                <td class="text-center">{{ s['last_access_at'] |  date("Y-m-d H:i:s") }}</td>
                <td class="text-center">
                    {% if s['sid'] == curuser.getSessionId() %}
                        Current
                    {% else %}
                        <form method="post">
                            <input type="hidden" name="action" value="delsession"/>
                            <input type="hidden" name="session" value="{{ s['sid'] }}"/>
                            <button class="btn btn-default" type="submit"
                                    onclick="return confirm('Are you sure you want to delete this session?');">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
