{% macro register_form(type) %}
    {% macro input(name, value , label , placeholder ,notice, type , requried) %}
        <div class="form-group">
            <label class="control-label" for="{{ name }}">{{ label }}</label>
            <input autofocus="" class="form-control" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}"
                   title="" type="{{ type|default('text') }}" value="{{ value|e }}"
                   {% if requried %}required="required"{% endif %}>
            {% if  notice|e %}
                <small>{{ notice|raw }}</small>{% endif %}
        </div>
    {% endmacro %}

    {% from _self import input %}

    <form method="post">
        <label>
            <input name="type" value="{{ type }}" style="display: none">
        </label>
        <div class="row">
            <div class="form-group col-md-4">
                {{ input('username', '' , 'Username' , 'Username',"Max Length 12 with those character: <code>A-Za-z0-9_</code>") }}
                {{ input('email','','Email','','We only allow those Email: <code>' ~ config.get('register.email_white_list') ~ '</code>','email') }}
                {{ input('password','','Password','',null,'password') }}
                {{ input('password_again','','Retype Password Again','',null,'password') }}

                {% if type == 'invite' %}
                    {% set invite_hash = request.get('invite_hash') %}
                    {{ input('invite_hash', invite_hash ,'Invite Code','',null,true) }}
                {% endif %}

                <div class="form-group">
                    <label>
                        <input type="checkbox" name="accept_tos" value="1" checked> Accept Our TOS and AOP
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Register" class="btn btn-primary">
            </div>
        </div>
    </form>
{% endmacro %}

{% from _self import register_form %}

{% extends "layout/base.html.twig" %}

{% block title %}Register{% endblock %}

{% block container %}
    <h1>Register</h1>

    {% if config.get('base.enable_register_system') != true %}
        <div class="jumbotron">
            <h2>Sorry~</h2>
            <p class="lead">
                The register system is close.
            </p>
        </div>
    {% else %}
        {% set register_type = request.get('type') ?? "open" %}
        {% if register_type == 'invite' %}
            {% if config.get('register.by_invite') != true %}
                <div class="jumbotron">
                    <h2>Sorry ~</h2>
                    <p>Invites registration is currently disabled. </p>
                </div>
            {% else %}
                {{ register_form('invite') }}
            {% endif %}
        {% elseif  register_type == 'green' %}
            {% if config.get('register.by_green') != true %}
                <div class="jumbotron">
                    <h2>Sorry ~</h2>
                    <p>Green registration is currently disabled. </p>
                </div>
            {% else %}
                <div class="jumbotron">
                    <h2>Sorry ~</h2>
                    <p>We did't support Green registration.</p>
                </div>
            {% endif %}
        {% else %}
            {{ config.get('register.by_open') != true }}
            {# By default We think user use `open` register #}
            {% if config.get('register.by_open') != true %}
                <div class="jumbotron">
                    <h2>Sorry ~</h2>
                    <p>
                        Open registration is currently disabled. Invites only. If you are lucky you might have a
                        friend who wants to invite you :) We just wanna see how much cheaters will start respecting
                        their accounts after they realize they can't just come back in and get another one :). Keep
                        this in mind, if you are already a member and you invite a known cheater, and you knew about
                        it in the first place, both yours and the person you invited are disabled. You will have to
                        come talk to us to get your account reenstated. If you want an invite and you know someone
                        who have one it's up to them to give you an invite.
                    </p>
                </div>
            {% else %}
                {{ register_form('open') }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
