{% extends "layout/base.html.twig" %}

{% block title %}{{ torrent.getTitle() }}{% endblock %}

{% block container %}
    <h1>Title: {{ torrent.getTitle() }}</h1>
    <h2>Subtitle: {{ torrent.getSubtitle() }}</h2>

    <h2>Description</h2>
    <div>{{ torrent.getDescr() }}</div>

    <div><a href="/torrents/download?id={{ torrent.getId() }}">Download it</a></div>
{% endblock %}
