{% extends "layout/base.html.twig" %}

{% block title %}Torrents List{% endblock %}

{% block container %}
    {% for torrent in torrents %}
        <li><a href="/torrents/details?id={{ torrent.getId() }}" target="_blank">{{ torrent.getTitle() }}</a>
            seeder: {{ torrent.getComplete() }} leecher: {{ torrent.getIncomplete() }} completed: {{ torrent.getDownloaded() }}</li>
    {% endfor %}
{% endblock %}
