{% extends "admin/layout.html.twig" %}

{% block panel %}
    <h1>Mysql Server Status</h1>
    <div>
        This MySQL server has been running for <code>{{ serverStatus['Uptime'] }}</code> Seconds.
        It started up on <code>{{ startAt | date("M d, Y \\a\\t h:i A") }}</code>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Server Traffic</h3>
            <small>These tables show the network traffic statistics of this MySQL server since its startup</small>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                        <tr>
                            <th class="text-left">Traffic</th>
                            <th class="text-right">#</th>
                            <th class="text-right">ø Per Hour</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Received</td>
                            <td class="text-right">{{ serverStatus['Bytes received'] | format_bytes }}</td>
                            <td class="text-right">{{ (serverStatus['Bytes received'] * 3600 / serverStatus['Uptime']) | format_bytes }}</td>
                        </tr>
                        <tr>
                            <td>Sent</td>
                            <td class="text-right">{{ serverStatus['Bytes sent'] | format_bytes }}</td>
                            <td class="text-right">{{ (serverStatus['Bytes sent'] * 3600 / serverStatus['Uptime']) | format_bytes }}</td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td class="text-right">{{ (serverStatus['Bytes received'] + serverStatus['Bytes sent']) | format_bytes }}</td>
                            <td class="text-right">{{ ((serverStatus['Bytes sent'] + serverStatus['Bytes sent']) * 3600 / serverStatus['Uptime']) | format_bytes }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-7">
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                        <tr>
                            <th class="text-left">Connections</th>
                            <th class="text-right">#</th>
                            <th class="text-right">ø Per Hour</th>
                            <th class="text-right">%</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Max. concurrent connections</td>
                            <td>{{ serverStatus['Connections'] | number_format(0,'.', ',') }}</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>Failed Attempts</td>
                            <td class="text-right">{{ serverStatus['Aborted connects'] | number_format(0,'.', ',') }}</td>
                            <td class="text-right">{{ (serverStatus['Aborted connects'] * 3600 / serverStatus['Uptime']) | number_format(2,'.',',') }}</td>
                            <td class="text-right">
                                {% if serverStatus['Connections'] > 0 %}{{ (serverStatus['Aborted connects'] * 100 / serverStatus['Connections']) | number_format(2,'.',',') }} %{% else %}---{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Aborted Clients</td>
                            <td class="text-right">{{ serverStatus['Aborted clients'] | number_format(0,'.', ',') }}</td>
                            <td class="text-right">{{ (serverStatus['Aborted clients'] * 3600 / serverStatus['Uptime']) | number_format(2,'.',',') }}</td>
                            <td class="text-right">
                                {% if serverStatus['Connections'] > 0 %}{{ (serverStatus['Aborted clients'] * 100 / serverStatus['Connections']) | number_format(2,'.',',') }} %{% else %}---{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td class="text-right">{{ serverStatus['Connections'] | number_format(0,'.', ',') }}</td>
                            <td class="text-right">{{ (serverStatus['Connections'] * 3600 / serverStatus['Uptime']) | number_format(2,'.', ',') }}</td>
                            <td class="text-right">{{ 100 | number_format(2,'.',',') }} %</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Query Statistics</h3>
            <small>Since it's start up, <code>{{ serverStatus['Questions'] | number_format(0,'.',',') }}</code> queries have been sent to the server. <br>
                ø Per Hour : <code>{{ (serverStatus['Questions'] * 3600 / serverStatus['Uptime']) | number_format(2,'.',',') }}</code>
                ø Per Minute : <code>{{ (serverStatus['Questions'] * 60 / serverStatus['Uptime']) | number_format(2,'.',',') }}</code>
                ø Per Second : <code>{{ (serverStatus['Questions'] / serverStatus['Uptime']) | number_format(2,'.',',') }}</code>
            </small>

        </div>
        <div class="panel-body">
            <div class="row">
                {% set queryStatsRows = (queryStats|length / 2) | round(0, 'ceil') %}
                {% for rows in queryStats | batch(queryStatsRows, null) %}
                <div class="col-md-6">
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                        <tr>
                            <th class="text-left">Query Type</th>
                            <th class="text-right">#</th>
                            <th class="text-right">ø Per Hour</th>
                            <th class="text-right">%</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in rows %}
                        <tr>
                            <td>{{ key }}</td>
                            <td class="text-right">{{ value | number_format(0,'.',',') }}</td>
                            <td class="text-right">{{ (value * 3600 / serverStatus['Uptime']) | number_format(2,'.',',') }}</td>
                            <td class="text-right">{{ (value * 100 / (serverStatus['Questions'] - serverStatus['Connections'])) | number_format(2,'.',',') }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">More status variables</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                        <tr>
                            <th class="text-left">Variable</th>
                            <th class="text-left">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,value in serverStatus %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
