{% extends "admin/layout.html.twig" %}

{% macro pattern_builder(pat) %}
<span class="bg-success"><a href="javascript:void(0);" data-pat="{{ pat }}"> {{ pat }} </a></span>&nbsp;&nbsp;
{% endmacro %}

{% from _self import pattern_builder %}

{% block panel %}
    <h1>Redis Keys Status</h1>
    <p>Please input the search pattern of keys, or your can use the search suggest</p>

    <div class="thumbnail">
        <div>
            <form id="search_redis" class="form-inline" method="get" action="/admin/service">
                <div class="form-group">
                    <input name="provider" type="text" class="form-control" value="redis" style="display: none">
                    <input name="panel" type="text" class="form-control" value="keys" style="display: none">
                    <input name="pattern" type="text" class="form-control" placeholder="{{ pattern }}" value="{{ pattern }}">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search </button>
                    <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Reset </button>
                </div>
            </form>
        </div>
        <div id="suggest_pattern">Suggest Pattern :
            {{ pattern_builder('*') }}
            {{ pattern_builder('SESSION:*') }}
            {{ pattern_builder('TORRENT:*') }}
            {{ pattern_builder('TRACKER:*') }}
            {{ pattern_builder('USER:*') }}
        </div>
    </div>

    {% if pattern != "" %}
        <div>
            <div class="pull-left">Keys matching <code>{{ pattern }}</code></div>
            <div class="pull-right">(<strong>{{ num_keys }}</strong> out of <strong>{{ dbsize }}</strong> matched)</div>
        </div>
    {% endif %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-right">#</th>
            <th class="text-center">Type</th>
            <th class="text-left">Key</th>
            <th class=""></th>
        </tr>
        </thead>
        <tbody>
        {% for key in keys %}
            <tr>
                <td class="text-right" style="width: 5%">{{ loop.index + (offset * perpage) }}</td>
                <td class="text-center">{{ types[key] }}</td>
                <td class="text-left">
                    <a href="/admin/service?provider=redis&panel=key&key={{ key|escape('url') }}">{{ key }}</a>
                </td>
                <td class="text-right">
                    <form method="post">
                        <input type="hidden" name="action" value="delkey"/>
                        <input type="hidden" name="key" value="{{ key }}"/>
                        <button class="btn btn-default" type="submit"
                                onclick="return confirm('Are you sure you want to delete this key? {{ key }}');">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if num_keys > perpage %}
        <div class="text-center">
            {{ include('layout/pagination.html.twig', {
                currentPage: offset,
                lastPage: ((num_keys/perpage) | round(0,'ceil')),
                paginationPath: '/admin/service?provider=redis&panel=keys&perpage=' ~ perpage ~ '&pattern=' ~ (pattern | escape('url'))
            }) }}
        </div>
    {% endif %}

{% endblock %}

{% block script %}
    <script>
        $('#suggest_pattern a').click(function () {
            let pat = $(this).attr('data-pat');
            $('input[name="pattern"]').val(pat);
            $('#search_redis').submit();
        })
    </script>
{% endblock %}
