{% macro recursive(tree) %}
    {% import _self as self %}
    {% for key, value in tree %}
        {% if value is iterable %}
            <li>
                <a href="#" class="folder"><i class="fa fa-folder"></i>{{ key }}</a>
                <ul>{{ self.recursive(value) | raw }}</ul>
            </li>
        {% else %}
            <li><i class="fa fa-file"></i>{{ key }} <span class="file-size">({{ value | format_bytes }})</span></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% from _self import recursive %}

{% extends "layout/base.html.twig" %}

{% block title %}{{ torrent.getTitle() }}{% endblock %}

{% block css %}
    <style>
        /* Torrent file list */
        .torrent-file-list ul {
            padding: 5px 20px 0 20px;
            list-style: none;
            display: none;
        }

        .torrent-file-list > ul {
            display: block; /* First level always visible */
            padding: 0;
            margin: 0;
        }

        .torrent-file-list li:not(:last-of-type) {
            margin-bottom: 5px;
        }

        .torrent-file-list i.fa {
            padding-right: 5px;
        }

        .torrent-file-list i.fa-folder-open {
            padding-right: 3px;
        }

        .torrent-file-list a.folder {
            font-weight: bold;
            text-decoration: none;
        }

        .torrent-file-list .file-size {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block container %}
    <h2 class="text-center">{{ torrent.getTitle() }}</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Torrent Information</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1"><b>Subtitle: </b></div>
                <div class="col-md-11">
                    {% if torrent.getSubtitle() %}{{ torrent.getSubtitle() }}
                    {% else %}No Subtitle.
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-1"><b>Date: </b></div>
                <div class="col-md-5" data-timestamp="{{ torrent.getAddedAt() }}">{{ torrent.getAddedAt() | date("Y-m-d h:i:s") }}</div>

                <div class="col-md-1">File size:</div>
                <div class="col-md-5">{{ torrent.getTorrentSize() | format_bytes }}</div>
            </div>

            <div class="row">
                <div class="col-md-1">Uploader: </div>  {# TODO #}
                <div class="col-md-5">
                    {% if torrent.getUplver() == "yes" %}
                        <i>Anonymous</i>
                        {# TODO Add priviledge for Admin to see Anonymous uploader #}
                    {% else %}
                        <a class="text-default" href="/user/panel/{{ torrent.getOwnerId() }}" data-toggle="tooltip" title="User">{{ (torrent.getOwner()).getUsername() }}</a></div>
                    {% endif %}


                <div class="col-md-1">Seeders:</div>
                <div class="col-md-5"><span style="color: green;">{{ torrent.getComplete() }}</span></div>
            </div>

            <div class="row">
                <div class="col-md-1">Leechers:</div>
                <div class="col-md-5"><span style="color: red;">{{ torrent.getIncomplete() }}</span></div>

                <div class="col-md-1">Completed:</div>
                <div class="col-md-5">{{ torrent.getDownloaded() }}</div>
            </div>
            <div class="row">
                <div class="col-md-offset-6 col-md-1">Info hash:</div>
                <div class="col-md-5"><kbd>{{ torrent.getInfoHash() }}</kbd></div> {# TODO #}
            </div>
        </div><!--/.panel-body -->

        <div class="panel-footer clearfix">
            <a href="/torrents/download?id={{ torrent.getId() }}"><i class="fa fa-download fa-fw"></i>Download Torrent</a> |
            <a href="/torrents/favour?id={{ torrent.getId() }}"><i class="fa fa-star fa-fw"></i>Add to Favour</a> | {# TODO add remove from Favour #}
            <a href="/report?type=torrent&id={{ torrent.getId() }}"><i class="fa fa-bug fa-fw"></i>Report this Torrent</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body" id="torrent-description">
            {% if torrent.getDescr() %}{{ torrent.getDescr() }}
            {% else %}<h4>No description.</h4>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">File list</h3>
        </div>
        <div class="torrent-file-list panel-body">
            <ul>
                {# User Like list render #}
                {#
                    {% for file in torrent.getFileList() %}
                        <li><i class="fa fa-file"></i>{{ file.filename }} <span class="file-size">({{ file.size | format_bytes }})</span></li>
                    {% endfor %}
                #}

                {# User Like Tree Render #}
                {{ recursive(torrent.getFileList('tree')) }}
            </ul>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $('.torrent-file-list a.folder').click(function(e) {
        e.preventDefault();
        $(this).blur().children('i').toggleClass('fa-folder-open fa-folder');
        $(this).next().stop().slideToggle(250);
    });
    $('.torrent-file-list a.folder:eq(0)').click();
</script>
{% endblock %}
