{% extends "layout/base.html.twig" %}

{% block title %}{{ message }}{% endblock %}

{% block container %}
    <h1><span>{{ message }}</span></h1>

    {% if file %}
        <p>{{ type }} code {{ code }}</p>
        <p><span>{{ file }}</span> line <span>{{ line }}</span></p>
        <samp>{{ trace | nl2br }}</samp>
    {% endif %}

{% endblock %}
