<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ config.get('base.site_description') }}">
    <meta name="author" content="{{ config.get("base.site_author") }}">
    <title>{{ config.get("base.site_name") }} :: {% block title %}{% endblock %} -- Powered by RidPT</title>

    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> {# docs: https://getbootstrap.com/docs/3.3/ #}
    <link href="/lib/fontAwesome/css/all.css" rel="stylesheet"> {# docs: https://fontawesome.com/icons?d=gallery #}

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css?{{ css_tag }}" rel="stylesheet">

    {% block css %}{% endblock %} <!-- Other css field -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/lib/html5shiv/dist/html5shiv.min.js"></script>
    <script src="/lib/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--top menu-->
<div id="top-menu"></div>

<!--header-->
<header id="header">
    <div class="container">
        <div class="row header-top">
            <div class="span5 logo">
                <a class="logo-img" href="/"><img src="/static/pic/logo.png" style="width: 135px" alt="Logo"/></a>
                <p class="tagline">{{ config.get('base.site_description') }}</p>
            </div>
        </div>
        <div class="row header-nav" align="center">
            <div>
                <nav id="menu" class="clearfix">

                    <ul>
                        {# add  class="current" to actice nav #}
                        <li><!--suppress HtmlUnknownTarget --><a href="/">Index</a></li>
                        <li><!--suppress HtmlUnknownTarget --><a href="/forums">Forums</a></li>
                        <li><!--suppress HtmlUnknownTarget --><a href="/torrents">Torrents</a></li>
                        <li><!--suppress HtmlUnknownTarget --><a href="/torrents/request">Request</a></li>
                        <li><!--suppress HtmlUnknownTarget --><a href="/torrents/upload">Upload</a></li>
                        <li><!--suppress HtmlUnknownTarget --><a href="/subtitles">Subtitles</a></li>
                        <li><!--suppress HtmlUnknownTarget --><a href="/site/topten">Top 10</a></li>
                        <li><!--suppress HtmlUnknownTarget --><a href="/site/about">About</a></li>
                        {# Make secondary list like this if you want
                         <li><a href="./index.html"><span class="name">Home</span></a>
                            <ul>
                                <li><a href="./index.html">Home Page 1</a></li>
                                <li><a href="./index2.html">Home Page 2</a></li>
                                <li><a href="./index3.html">Home Page 3</a></li>
                            </ul>
                        </li>
                        #}
                    </ul>
                </nav>
            </div>
        </div>
        {% if not curuser.isAnonymous() %}
        <div class="row header-info">
            <div class="pull-left">
                Welcome Back, <a href="/user">{{ curuser.username }}</a> &nbsp;
                <span><!--suppress HtmlUnknownTarget --><a href="/auth/logout">[Logout]</a></span>&nbsp;
                {% if curuser.getClass(true) > constant('ROLE_FORUM_MODERATOR', curuser) %}
                    <span><!--suppress HtmlUnknownTarget --><a href="/admin">[Admin Panel]</a></span>&nbsp;
                {% endif %}
                <span><!--suppress HtmlUnknownTarget --><a href="/user/favour">[Favour]</a></span>&nbsp;
                <br>
                <span>Ratio: {{ curuser.getRatio() }}</span>&nbsp;
                <span>Uploaded: {{ curuser.getUploaded() | format_bytes }}</span>&nbsp;
                <span>Downloaded: {{ curuser.getDownloaded() | format_bytes }}</span>&nbsp;
                <span>BT Activity: <span class="fa fa-arrow-up"></span>&nbsp;up&nbsp;<span class="fa fa-arrow-down"></span>&nbsp;dl&nbsp;</span>&nbsp;
            </div>
            <div class="pull-right">
                {# TODO right information #}
            </div>
        </div>
        {% endif %}
    </div>
</header>
<div class="container">
    <!-- Page Content -->
    {% block container %}{% endblock %}
</div> <!-- /container -->

<footer id="footer-menu">
    <div class="container" align="center">
        <div class="row">
            <p class="copyright"><a href="/" target="_self">{{ config.get("base.site_name") }}</a> 2019-2020 Powered by <a href="https://github.com/Rhilip/RidPT">RidPT</a></p>
            {# Notice: this count will not include the useage of Twig #}
            <p class="create-info">[ Page created in <b>{{ cost_time|number_format(5) }}</b> sec with <b>{{ db_count }}</b> db queries, <b>{{ redis_count }}</b> calls of Redis ]</p>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script> {# docs: https://api.jquery.com/ #}
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script> {# docs: https://getbootstrap.com/docs/3.3/ #}
<script type="text/javascript" src="/lib/superfish/dist/js/superfish.min.js"></script> {# docs: https://superfish.joelbirch.co/options/ #}
<script type="text/javascript" src="/static/js/main.js?{{ css_tag }}"></script>
{% block script %}{% endblock %}<!-- Other script field -->
</body>
</html>
